.task {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-sizing: border-box;
  padding: 12px 20px 20px 42px;
  margin-bottom: 35px;
  box-shadow: 0px -6px 0px var(--light-grey-color), 2px 2px 2px #e6edf7;
  position: relative;
  display: block;
  background-color: #fff;
}

.task:first-child {
  margin-top: 50px;
}

.task:last-child {
  margin-bottom: 0;
}

.task .data {
  position: relative;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}

.task .data .calendar {
  background-image: url("./calendar.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  left: -25px;
}

.task__content {
  width: 100%;
  height: auto;
}

.task__title {
  position: relative;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 8px;
}

.task__title input {
  position: absolute;
  left: -25px;
}

.task__desc {
  font-size: 0.75rem;
  line-height: 0.9rem;
}

.task.overdue {
  box-shadow: 0px -6px 0px var(--red-color), 2px 2px 2px #e6edf7;
}

.task.overdue .data {
  color: var(--red-color);
}

.task__title input {
  accent-color: green;
}

.task.done {
  box-shadow: 0px -6px 0px var(--green-color), 2px 2px 2px #e6edf7;
}

.task.done .data {
  color: #262837;
}

.task.done .task__title {
  text-decoration: line-through;
  color: var(--grey-color);
}

.task .delete{
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 5px;
  background-image: url("trash.svg");
  background-size: cover;
  color: #8c8c8c;
  cursor: pointer;
}
