.task {
  box-shadow: 0px -6px 0px var(--light-grey-color), 2px 2px 2px #e6edf7;
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  padding: 12px 20px 20px 42px;
  margin-bottom: 35px;
}

.task:first-child {
  margin-top: 50px;
}

.task:last-child {
  margin-bottom: 0;
}

.task .data {
  position: relative;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 1rem;
}

.task .data .calendar {
  background-image: url("../../assets/calendar.svg");
  width: 15px;
  height: 15px;
  position: absolute;
  left: -25px;
}

.task__content {
  width: 100%;
  height: auto;
}

.task__title {
  position: relative;
  font-weight: 700;
  font-size: 0.9rem;
  line-height: 1rem;
  margin-bottom: 8px;
}

.task__title input {
  position: absolute;
  left: -25px;
}

.task__desc {
  font-size: 0.75rem;
  line-height: 0.9rem;
}

.task.overdue {
  box-shadow: 0px -6px 0px var(--red-color), 2px 2px 2px #e6edf7;
}

.task.overdue .data {
  color: var(--red-color);
}

.task__title input {
  accent-color: green;
}

.task.done {
  box-shadow: 0px -6px 0px var(--green-color), 2px 2px 2px #e6edf7;
}

.task.done .data {
  color: #262837;
}

.task.done .task__title {
  text-decoration: line-through;
  color: var(--grey-color);
}

.task .cover {
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 5px;
  background-image: url("../../assets/menu.svg");
  background-size: cover;
  color: #8c8c8c;
  cursor: pointer;
}

.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  bottom: 100%;
}

.popup .popupmenu {
  visibility: hidden;
  width: 80px;
  background-color: #d9d9d9;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -40px;
  padding: 5px 0;
}

.popup .popupmenu::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #d9d9d9 transparent transparent transparent;
}

.popupmenu.show {
  visibility: visible;
  -webkit-animation: fadeIn .5s;
  animation: fadeIn .5s;
}

#Popup ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 0;
}

#Popup li {
  display: inline-block;
}
.delete,
.edit {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: cover;
  cursor: pointer;
}

.delete {
  background-image: url("../../assets/deleteTask.svg");
}

.edit {
  background-image: url("../../assets/edit.svg");
}

.listLink {
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #262837;
  border-top-left-radius: 7px;
  color: #fff;
  padding: 2px;
  padding-left: 4px;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
