.form {
  position: absolute;
  bottom: 0;
  right: 0;
  height: auto;
  width: 80%;
  transform: translate(0, 100%);
  background-color: #f9f9f9;
  box-shadow: 0px -5px 5px #888;
  transition: 1s ease-in-out;
  z-index: 1;
  text-align: center;
}

.form.animate {
  flex-basis: 30%;
  transform: translate(0, 0);
}

.form__control {
  position: relative;
  width: 20rem;
  height: 3rem;
  margin-right: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
}

.form__control:nth-child(2) {
margin-right: 0;
}

.form__control:nth-child(3) {
  display: block;
  margin: 0 auto;
}

.form__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #e1e5ee;
  border-radius: 0.5rem;
  font-family: inherit;
  font-size: inherit;
  color: var(--grey-color);
  outline: none;
  padding: 1.25rem;
  background: #fafcfe;
}

.form__input:hover {
  border-color: #8aff8a;
}

.form__input:focus {
  border-color: #00a300;
}

.form__label {
  position: absolute;
  left: 1rem;
  top: 0.8rem;
  padding: 0 0.5rem;
  color: #6fc276;
  cursor: text;
  transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
  background-color: #fafcfe;
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown).form__input:not(:focus) ~ .form__label {
  top: -0.5rem;
  font-size: 0.8rem;
  left: 0.8rem;
}

#date {
  margin-right: 1rem;
}
.selectList {
  border-radius: 0;
  border: 1px solid #d9d9d9;
  padding: 5px 10px;
  background-color: #fafcfe;
  text-transform: capitalize;
  color: #00a300;
  width: 133px;
}

.form__btn {
  text-align: center;
  margin-bottom: 1.5rem;
}

.form button {
  background-color: #00d100;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 100%;
  height: 3rem;
  line-height: 1.15;
  margin: 50px auto;
  outline: none;
  padding: 0 25px;
  position: relative;
  text-align: center;
  width: 30%;
}

.form button:focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

#name.rejected {
  border: 3px inset var(--red-color);
}

.selectList .rejected {
  border: 3px inset var(--red-color);
}