.menu_item {
  position: relative;
  margin-bottom: 4%;
  padding: 10px 15px;
  padding-left: 15%;
  background-color: rgba(217, 217, 217, .3);
  letter-spacing: 1px;
  line-height: 1.4rem;
  font-size: 1.3rem;
  font-weight: 600;
  font-family: "Trebuchet MS", sans-serif;
  border-radius: 4px;
  cursor: pointer;
}

.menu .menu_item:last-child {
  margin-bottom: 0;
}

.menu_item.active {
  background-color: rgba(217, 217, 217, 1);
}

.menu .active::before {
  content: "";
  position: absolute;
  display: inline-block;
  top: 30%;
  left: 6%;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background: #ACD1AF;
}

.delete_list {
  background-image: url('./delete.svg');
  position: absolute;
  width: 20px;
  height: 20px;
  top: 30%;
  right: 6%;
  display: none;
  cursor: help;
}

.menu_item:hover .delete_list {
display: inline-block;}