.sidebar {
  background-color: #f9f9f9;
  flex-basis: 20%;
  box-shadow: 0.5px 0px 0px rgba(65, 74, 76, 0.055), 4px 0px 0px rgba(65, 74, 76, 0.11);
  padding-top: 2%;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 1;
}

.head {
  padding-right: 5%;
  padding-left: 10%;
  margin-bottom: 15%;
  color: #565656;
}

.head > h1 {
  font-size: 2.5rem;
  display: inline-block;
  cursor: default;
}

.add_list {
  display: inline-block;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;  
  color:  var(--green-color) ;
}

.menu {
  width: 100%;
  height: auto;
}

.add_list_form .add_list_input {
  width: 80%;
  border: 1px solid #ccc;
  background: #FFF;
  margin-top: 10px;
  padding: 5px;
}

.add_list_form .add_list_input:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

.add_list_form .add_list_input:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}


