.dashboard {
  background-color: #f9f9f9;
  flex-basis: 20%;
  box-shadow: 0.5px 0px 0px rgba(65, 74, 76, 0.055), 4px 0px 0px rgba(65, 74, 76, 0.11);
  padding-top: 2%;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 1;
}

.head {
  position: relative;
  padding-right: 5%;
  padding-left: 10%;
  margin-bottom: 15%;
  color: #565656;
}

.head > h1 {
  font-size: 2.5rem;
  display: inline-block;
  cursor: default;
}

.add_list {
  display: inline-block;
  cursor: pointer;
  font-size: 3rem;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 5px;  
  color:  var(--green-color) ;
}

.menu {
  width: 100%;
  height: auto;
}

.add_list_form {
  position: absolute;
  width: 80%;
}

.add_list_form .add_list_input {
  display: inline;
  width: 80%;
  border: 1px solid #ccc;
  background: #FFF;
  margin-top: 10px;
  padding: 5px;
}

.add_list_input {
  border: 2px solid #e1e5ee;
  margin-right: 4%;
}

.add_list_input:hover {
  border-color: #8AFF8A;

}

.add_list_input:focus {
  border-color: #00A300;
}

.add_list_form button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: .9rem;  
  opacity: 0.6;
  border-radius: 4px;
  cursor: pointer;
}

.add_list_form button:hover {opacity: 1}
