@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  height: 100vh;
  align-items: stretch;
}

/* 
https://www.youtube.com/watch?v=WADswtZB-qg
https://www.youtube.com/watch?v=nsHOA5DVHuw
https://developer.mozilla.org/en-US/docs/Learn/Tools_and_testing/Client-side_JavaScript_frameworks/React_todo_list_beginning
https://www.youtube.com/watch?v=ks8oftGP2oc
https://www.youtube.com/watch?v=C5ORrpny8Nw&list=PLC3y8-rFHvwgg3vaYJgHGnModB54rxOk3&index=93
https://www.youtube.com/watch?v=dGcsHMXbSOA&list=RDQMxaQdpMitA9o&index=22
https://www.youtube.com/watch?v=XRfD8xIOroA&list=RDQMxaQdpMitA9o&index=18
https://www.youtube.com/watch?v=Law7wfdg_ls&list=RDQMxaQdpMitA9o&index=7
https://www.youtube.com/watch?v=Ul3y1LXxzdU
https://www.youtube.com/watch?v=0auS9DNTmzE&list=PLiZoB8JBsdznY1XwBcBhHL9L7S_shPGVE
https://www.youtube.com/watch?v=fDVhl3DGkD0
https://www.youtube.com/watch?v=ZEKBDXGnD4s
https://www.youtube.com/watch?v=j942wKiXFu8&list=PL4cUxeGkcC9gZD-Tvwfod2gaISzfRiP9d&index=1
https://www.youtube.com/watch?v=Hn0jGjYAunc
https://www.w3.org/TR/2018/CR-css-flexbox-1-20181119/
https://bocoup.com/blog/dive-into-flexbox
https://courses.webdevsimplified.com/view/courses/react-hooks-simplified/1327056-lesser-used-hooks/4076822-04-useref
*/