:root {
  --red-color: #ff4c30;
  --green-color: #58ac83;
  --grey-color: #8c8c8c;
  --light-grey-color: #d9d9d9;
  --blue-color: #405cf5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="date"] {
  background: transparent;
  color: #00A300;
  border: 1px solid var(--light-grey-color);
  padding: 5px 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  cursor: pointer;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
